<section class="container-full footer">
    <svg id="anglesvg" viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg">
        <path d="M720 60l720-60H0z" fill="#f5f6ff" /></svg>
    <div class="container grid-2x footer-contents mb-0">
        <div class="text-center" style="color:white">
            <h4 class="text-light">Liên hệ với mình</h4>
        </div>
        <div class="columns text-center">
            <div class="column col-12">
                <div class="my-4">
                    {% if site.github_username == null %}
                    {% else %}
                    <div>
                        <a href="https://github.com/{{ site.github_username }}" target="_blank">
                            <i class='uil uil-github'></i>
                            https://github.com/guiltylotus
                        </a>
                    </div>
                    {% endif %}

                    {% if site.facebook_page == null %}
                    {% else %}
                    <div>
                        <a href="{{ site.facebook_page}}"><i class='uil uil-facebook' target="_blank"></i>
                            https://www.facebook.com/minh.nguyenminh.58
                        </a>
                    </div>
                    {% endif %}

                    {% if site.email == null %}
                    {% else %}
                    <div>
                        <a href="mailto:{{ site.email }}"><i class='uil uil-envelope' target="_blank"></i>
                            minh97.nguyenduc@gmail.com
                        </a>
                    </div>
                    {% endif %}

                    {% if site.instagram_username == null %}
                    {% else %}
                    <a href="http://instagram.com/{{site.instagram_username}}" target="_blank"><i
                            class='uil uil-instagram'></i></a>
                    {% endif %}
                </div>
            </div>

            <!-- <div class="column col-6">
                <div class="my-4 text-left">
                    {% if site.twitter_username == null %}
                    {% else %}
                    <a href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank">
                        <i class='uil uil-twitter'></i></a>
                    {% endif %}

                    {% if site.github_username == null %}
                    {% else %}
                    <div>
                        <a href="https://github.com/{{ site.github_username }}" target="_blank">
                            <i class='uil uil-github'></i>
                            https://github.com/guiltylotus
                        </a>
                    </div>
                    {% endif %}

                    {% if site.facebook_page == null %}
                    {% else %}
                    <div>
                        <a href="{{ site.facebook_page}}"><i class='uil uil-facebook' target="_blank"></i>
                            https://www.facebook.com/minh.nguyenminh.58
                        </a>
                    </div>
                    {% endif %}

                    {% if site.email == null %}
                    {% else %}
                    <div>
                        <a href="mailto:{{ site.email }}"><i class='uil uil-envelope' target="_blank"></i>
                            minh97.nguyenduc@gmail.com
                        </a>
                    </div>
                    {% endif %}

                    {% if site.instagram_username == null %}
                    {% else %}
                    <a href="http://instagram.com/{{site.instagram_username}}" target="_blank"><i
                            class='uil uil-instagram'></i></a>
                    {% endif %}
                </div>
            </div> -->
        </div>
    </div>
</section>